# RabbitMQ Configuration
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_QUEUE_PAYMENT=order_paid

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Application Configuration
PORT=3005
NODE_ENV=development
CORS_ORIGIN=*

# Logging
LOG_LEVEL=debug
